# Latex files
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.maf
*.mtc
*.mtc0

# Mac OS X
.DS_Store

# Node.js 
node_modules/
fall_project/code/apilayer/config/runtime.json


# Python - CLI
fall_project/code/cli/build/
fall_project/code/cli/dist/
*.pyc
